*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    font-family: monospace;
}
.container-blog{
    width: 100%;
    text-align: center;
    background: white;
}
.container-blog h1{
    padding: 3rem;
    font-size: 3.5rem;
}
.my-card{
    width: 100%;
    margin-bottom: 57px;
    background-color: white;
}
.my-card h1,
p{
    padding: .5rem 1rem;
}
.my-card h1{
    padding-top: 1rem;
}
.my-card img{
    width: 95%;
    margin: auto;
    display: block;
}
.about-me{
    width: 100%;
    background: white;

}
.about-me h1{
    padding: 1rem;
}
.about-me img{
    width: 95%;
    display: block;
    margin: auto;
}
.images {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images img{
    width: 95%;
    height: 215px;
    margin: auto;
    margin: 1rem 0;
}

.footer{
    width: 100%;
    text-align: center;
    background: white;
}
.footer h1{
    padding: 3rem;
    font-size: 3.5rem;
}