*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container{
    background: #f1f1f1;
    font-family: monospace;
}
.container-blog{
    width: 100%;
    text-align: center;
    background: white;
}
.container-blog h1{
    padding: 3rem;
    font-size: 3.5rem;
}
.my-card{
    width: 100%;
    margin-bottom: 57px;
    background-color: white;
    transition: all .3s ease;
}
.my-card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}
.my-card h1,
p{
    padding: .5rem 1rem;
}
.my-card h1{
    padding-top: 1rem;
}
.my-card img{
    width: 95%;
    margin: auto;
    display: block;
}
.about-me{
    width: 100%;
    background: white;
    transition: all .5s ease;
}
.about-me:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}
.about-me h1{
    padding: 1rem;
}
.about-me img{
    width: 95%;
    display: block;
    margin: auto;
}
.images {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.images img{
    width: 95%;
    height: 215px;
    margin: auto;
    margin: 1rem 0;
    transition: all .5s ease;

}
.images img:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.9);
}

.footer{
    width: 100%;
    text-align: center;
    background: white;
}
.footer h1{
    padding: 3rem;
    font-size: 3.5rem;
}

.nightmode{
    position: absolute;
    top: 5px;
    right: 5px;

}
.nightmode button{
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    background: black;
}

#nightmode{
    outline: none;
}

.ad{
    width: 80%;
    height: 100px;
    position: fixed;
    top: 10%;
    right: -100%;
    display: none;
    transition: all .3s ease;
}
#adImage{
    width: 75%;
    height: 100px;
}

#close{
    cursor: pointer;
}